/* ==========================================================================
   PUBLICATION LAYOUT - IBM Research Style
   ========================================================================== */

.publication-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em 2em;

  @include breakpoint($x-large) {
    padding: 3em 4em;
  }
}

.publication {
  max-width: 900px;
  margin: 0 auto;
}

.publication__header {
  margin-bottom: 3em;
  padding-bottom: 2em;
  border-bottom: 2px solid $border-color;
}

.publication__title {
  margin: 0 0 1.5em 0;
  font-size: $type-size-1;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: $dark-gray;

  @include breakpoint($medium) {
    font-size: 2.5em;
  }
}

.publication__meta {
  display: flex;
  flex-wrap: wrap;
  gap: 2em 3em;
  margin-top: 2em;
}

.publication__meta-item {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.publication__meta-label {
  font-size: $type-size-6;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $gray;
}

.publication__meta-item > span:not(.publication__meta-label),
.publication__meta-item > time {
  font-size: $type-size-5;
  color: $dark-gray;
}

.publication__authors {
  display: inline;
}

.publication__author {
  display: inline;
}

.publication__topics {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.publication__topic {
  display: inline-block;
  padding: 0.25em 0.75em;
  font-size: $type-size-6;
  color: $ibm-blue;
  background-color: rgba($ibm-blue, 0.1);
  border-radius: 4px;
}

.publication__abstract {
  margin: 3em 0;
  padding: 2em 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.publication__section-title {
  margin: 0 0 1em 0;
  font-size: $type-size-4;
  font-weight: 600;
  color: $dark-gray;
}

.publication__abstract-content {
  font-size: $type-size-5;
  line-height: 1.75;
  color: $text-color;
}

.publication__content {
  margin: 3em 0;
  font-size: $type-size-5;
  line-height: 1.75;

  h2 {
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: $type-size-3;
    font-weight: 600;
  }

  h3 {
    margin-top: 1.5em;
    margin-bottom: 0.75em;
    font-size: $type-size-4;
    font-weight: 600;
  }

  p {
    margin-bottom: 1.5em;
  }
}

.publication__actions {
  margin: 2em 0;
  padding: 2em 0;
  border-top: 1px solid $border-color;
}

.publication__citation {
  margin: 3em 0;
  padding: 2em;
  background-color: $code-background-color;
  border-left: 4px solid $ibm-blue;
}

.publication__citation-text {
  margin: 0;
  font-size: $type-size-6;
  line-height: 1.6;
  font-style: italic;
  color: $text-color;
}

.publication__related {
  margin: 4em 0 0 0;
  padding-top: 2em;
  border-top: 2px solid $border-color;
}

.publication__related-list {
  margin-top: 1.5em;
}
